.meio{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12em;
}

.imagem{

    width: 12em;
    border-radius: 50%;
    border:3px solid var(--cor-branca);
    border:4px solid var(--cor-branca);
    position: relative;
    text-transform: capitalize;
    text-decoration:none;
    color: var(--cor-branca);
    background-color: transparent;
    cursor: pointer;
    transition:0.4s;
    text-shadow: 0 0 0.125em rgba(0, 0, 0, 0.5), 0 0 0.25em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--cor-branca), 0 0 0.5em 0 var(--cor-branca);
}